# ‚úÖ Script Testing Notebook

### **Data Science and Machine Learning Bootcamp ‚Äì Ironhack Puerto Rico**  
üìÖ **December 20, 2024**  
üë©‚Äçüíª **Author:** Ginosca Alejandro D√°vila  

---

## üß™ Purpose

This notebook is designed to test the **clean (`.py`) versions** of the main project scripts for:

üìÅ **Project:** Online Retail II ‚Äì Sales Analysis & Customer Segmentation  
üìÇ **Path:** `retail-sales-segmentation-sql/scripts/python/clean/`

---

## üß© Functionality Checked

- Correct environment setup and project path detection
- Compatibility with Google Colab
- Successful execution of `.py` scripts with no markdown or extra output
- Proper data loading and output generation by each script

---

## üìÑ Scripts Tested

1. `1_data_cleaning_online_retail_ii.py` ‚Äì Loads and cleans raw Excel data
2. `2_eda_online_retail_ii.py` ‚Äì Runs Exploratory Data Analysis on cleaned dataset
3. `3_sql_analysis_sales_performance_online_retail_ii.py` ‚Äì Executes SQL-based analysis and exports results
4. `4_mysql_real_env_setup_online_retail_ii.py` ‚Äì Creates MySQL schema and loads tables

---

> ‚úÖ This notebook ensures that each script runs correctly in Google Colab using the current project structure.

---

---

## üîó Step 1: Mount Google Drive and Set Project Path

This step ensures the notebook can access your project files from Google Drive.  
It will attempt to use the default path:

```
MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql
```

- If the default path exists, it is automatically assigned as `project_base_path`.
- If not found, you will be prompted to enter the path manually.
- This logic makes the notebook portable across machines or collaborators.

Once set, `project_base_path` will be used to locate all Python scripts to test.

---

In [1]:
# ‚úÖ Cross-platform setup for local or Colab environments
import os
import sys
from pathlib import Path

# ‚úÖ Safe print for encoding compatibility
def safe_print(text):
    try:
        print(text)
    except UnicodeEncodeError:
        print(text.encode("ascii", errors="ignore").decode())

# ‚úÖ Detect environment and set base project path
if 'google.colab' in sys.modules:
    from google.colab import drive
    drive.mount('/content/drive')

    # Try default path
    default_path = Path('/content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql')
    if default_path.exists():
        project_base_path = default_path
        safe_print(f"‚úÖ Colab project path set to: {project_base_path}")
    else:
        safe_print("\nüìÇ Default path not found. Please input the relative path to your project inside Google Drive.")
        user_path = input("üì• Your path: ").strip()
        user_path = Path('/content/drive') / user_path
        if not user_path.exists():
            raise FileNotFoundError(f"‚ùå Path does not exist: {user_path}\nPlease check your input.")
        project_base_path = user_path
        safe_print(f"‚úÖ Colab project path set to: {project_base_path}")
else:
    # Assume notebook is in /notebooks and set base path one level up
    notebook_path = Path.cwd()
    project_base_path = notebook_path.parent
    safe_print(f"‚úÖ Local project path set to: {project_base_path}")

Mounted at /content/drive
‚úÖ Colab project path set to: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql

---

## üßº Step 2: Test `1_data_cleaning_online_retail_ii.py`

This step executes the clean version of the **data cleaning script**, which performs the following tasks:

- Loads the raw Excel dataset from `/data/`
- Performs data inspection, cleaning, and normalization
- Exports a cleaned flat file and relational tables into `/cleaned_data/`

The script is located at:

```
scripts/python/clean/1_data_cleaning_online_retail_ii.py
```

> ‚úÖ Output messages will confirm successful execution or display any issues for debugging.

---

In [2]:
# ‚úÖ Run 1_data_cleaning_online_retail_ii.py
script_path = os.path.join(project_base_path, "scripts/python/clean/1_data_cleaning_online_retail_ii.py")
!python "$script_path"

‚úÖ Local environment detected. Base path set to: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql
üìÑ Looking for: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/data/online_retail_II.xlsx
‚úÖ Excel sheets loaded successfully.
üßæ Combined dataset shape: (1067371, 8)
üßæ Inspecting: Online Retail II - Raw Combined Dataset
============================================================
üîπ First 5 Rows:
  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1  489434    79323P                   PINK CHERRY LIGHTS        12 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2  489434    79323W                  WHITE CHERRY LIGHTS        12 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

üîπ Last 5 Rows:
        Invoice StockCode                      Description  Quantity         InvoiceDate  Price  Customer ID Country
1067366  581587     22899     CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0  France
1067367  581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0  France
1067368  581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0  France
1067369  581587     22138    BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0  France
1067370  581587      POST                          POSTAGE         1 2011-12-09 12:50:00  18.00      12680.0  France

üîπ Shape: 1067371 rows √ó 8 columns

üîπ Column Names:
['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'Price', 'Customer ID', 'Country']

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

============================================================

‚úÖ Columns renamed successfully:
['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']
üîç Unique Value Exploration for: Online Retail II ‚Äì Raw Combined Dataset
======================================================================
üìå Column: invoice_no
   ‚Ä¢ Unique values: 53628
   ‚Ä¢ Sample values: [489434 489435 489436 489437 489438]
----------------------------------------------------------------------
üìå Column: stock_code
   ‚Ä¢ Unique values: 5305
   ‚Ä¢ Sample values: [85048 '79323P' '79323W' 22041 21232]
----------------------------------------------------------------------
üìå Column: description
   ‚Ä¢ Unique values: 5698
   ‚Ä¢ Sample values: ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' 'RECORD FRAME 7" SINGLE SIZE '
 'STRAWBERRY CERAMIC TRINKET BOX']
----------------------------------------------------------------------
üìå Column: quantity
   ‚Ä¢ Unique values: 1057
   ‚Ä¢ Sample values: [12 48 24 10 18]
----------------------------------------------------------------------
üìå Column: invoice_date
   ‚Ä¢ Unique values: 47635
   ‚Ä¢ Sample values: <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00']
Length: 5, dtype: datetime64[ns]
----------------------------------------------------------------------
üìå Column: unit_price
   ‚Ä¢ Unique values: 2807
   ‚Ä¢ Sample values: [6.95 6.75 2.1  1.25 1.65]
----------------------------------------------------------------------
üìå Column: customer_id
   ‚Ä¢ Unique values: 5942
   ‚Ä¢ Sample values: [13085. 13078. 15362. 18102. 12682.]
----------------------------------------------------------------------
üìå Column: country
   ‚Ä¢ Unique values: 43
   ‚Ä¢ Sample values: ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia']
----------------------------------------------------------------------
‚úÖ Variable classification completed for online_retail_ii dataset.
üïê Earliest invoice date: 2009-12-01 07:45:00
üïô Latest invoice date:   2011-12-09 12:50:00
üßÆ Rows before filtering: 1067371
‚úÖ Rows after filtering:  1041671
‚ûñ Rows removed:          25700
üö´ Rows with invoice_no starting with 'C': 1
‚úÖ Canceled invoices removed.
üßÆ Rows before dropping missing customer_id: 1041670
‚úÖ Rows after dropping:                  805549
‚ûñ Rows removed:                         236121
üßÆ Rows before dropping missing description: 805549
‚úÖ Rows after dropping:                     805549
‚ûñ Rows removed:                            0
üßº Cleaned column: description
üßº Cleaned column: country

üîç Sample cleaned descriptions:
187240               10 colour spaceboy pen
17902        11 pc ceramic tea set polkadot
1351      12 ass zinc christmas decorations
151192           12 coloured party balloons
3364              12 daisy pegs in wood box
Name: description, dtype: object

üåç Unique countries after standardization:
['australia', 'austria', 'bahrain', 'belgium', 'brazil', 'canada', 'channel islands', 'cyprus', 'czech republic', 'denmark', 'eire', 'european community', 'finland', 'france', 'germany', 'greece', 'iceland', 'israel', 'italy', 'japan', 'korea', 'lebanon', 'lithuania', 'malta', 'netherlands', 'nigeria', 'norway', 'poland', 'portugal', 'rsa', 'saudi arabia', 'singapore', 'spain', 'sweden', 'switzerland', 'thailand', 'united arab emirates', 'united kingdom', 'unspecified', 'usa', 'west indies']

üîç Identifier column data types:
invoice_no     object
stock_code     object
customer_id     int64
dtype: object

üî¢ Sample identifier values:
  invoice_no stock_code  customer_id
0     489434      85048        13085
1     489434     79323P        13085
2     489434     79323W        13085
3     489434      22041        13085
4     489434      21232        13085
üîÅ Checking Duplicates in: Online Retail II
============================================================
üìã Total fully duplicated rows: 26124

üîé Sample duplicated rows:
    invoice_no stock_code                        description  quantity        invoice_date  unit_price  customer_id         country
371     489517      21912           vintage snakes & ladders         1 2009-12-01 11:34:00        3.75        16329  united kingdom
383     489517      22130    party cone christmas decoration         6 2009-12-01 11:34:00        0.85        16329  united kingdom
384     489517      22319  hairclips forties fabric assorted        12 2009-12-01 11:34:00        0.65        16329  united kingdom
385     489517      21913     vintage seaside jigsaw puzzles         1 2009-12-01 11:34:00        3.75        16329  united kingdom
386     489517      21821    glitter star garland with bells         1 2009-12-01 11:34:00        3.75        16329  united kingdom
üÜî Duplicated values in key column `invoice_no`: 768580

üîé Sample rows with duplicate IDs:
  invoice_no stock_code                          description  quantity        invoice_date  unit_price  customer_id         country
0     489434      85048  15cm christmas glass ball 20 lights        12 2009-12-01 07:45:00        6.95        13085  united kingdom
1     489434     79323P                   pink cherry lights        12 2009-12-01 07:45:00        6.75        13085  united kingdom
2     489434     79323W                  white cherry lights        12 2009-12-01 07:45:00        6.75        13085  united kingdom
3     489434      22041          record frame 7" single size        48 2009-12-01 07:45:00        2.10        13085  united kingdom
4     489434      21232       strawberry ceramic trinket box        24 2009-12-01 07:45:00        1.25        13085  united kingdom
============================================================

‚úÖ Duplicates removed: 26124
üì¶ Final row count: 779425

üí∏ Preview of calculated line_revenue:
  invoice_no stock_code  quantity  unit_price  line_revenue
0     489434      85048        12        6.95          83.4
1     489434     79323P        12        6.75          81.0
2     489434     79323W        12        6.75          81.0
3     489434      22041        48        2.10         100.8
4     489434      21232        24        1.25          30.0

üìä Summary of line_revenue column:
count    779425.000000
mean         22.291823
std         227.427075
min           0.001000
25%           4.950000
50%          12.480000
75%          19.800000
max      168469.600000
Name: line_revenue, dtype: float64

üß™ Column Type Sanity Check:
‚úÖ invoice_no ‚Üí object
‚úÖ stock_code ‚Üí object
‚úÖ description ‚Üí object
‚úÖ quantity ‚Üí int64
‚úÖ invoice_date ‚Üí datetime64[ns]
‚úÖ unit_price ‚Üí float64
‚úÖ line_revenue ‚Üí float64
‚úÖ customer_id ‚Üí int64
‚úÖ country ‚Üí object

‚úÖ All column types are valid. Ready for export.
üßπ Removed non-product stock codes.
‚ûñ Rows before: 779425
‚ûï Rows after:  776609
üìâ Rows removed: 2816
‚ùó Found 597 stock codes with inconsistent descriptions in cleaned dataset.
       stock_code                          description
67142      15058A      blue white spots garden parasol
548898     15058A         blue polkadot garden parasol
461044     15058B         pink polkadot garden parasol
67188      15058B      pink white spots garden parasol
314800      16012           food/drink sponge stickers
4157        16012           food/drink spunge stickers
710756     16151A      flowers handbag blue and orange
181581     16151A  flower des blue handbag/orang handl
49282      16156L                       wrap, carousel
663541     16156L                        wrap carousel
258896     16161U                wrap suki and friends
2497       16161U                wrap,suki and friends
10248      17107D  flower fairy,5 summer b'draw liners
841204     17107D         flower fairy 5 drawer liners
873225     17107D    flower fairy 5 summer draw liners
20886      17129F          deep blue glass gems in bag
305869     17129F               blue glass gems in bag
95859      18094C    white and blue ceramic oil burner
13854      18094C   white/blue rect ceramic oil burner
387380      20615         blue polkadot passport cover
‚úÖ Standardized descriptions for 4624 stock codes.
‚úÖ Remaining stock codes with inconsistent descriptions after standardizing: 0
üîé Checking future relational primary key constraints...

üßæ customer_id ‚Üí country: 12 with >1 country
üì¶ stock_code ‚Üí description: 0 with >1 description
üßæ invoice_no: 739938 duplicated invoice entries
üßæ invoice_items: 10498 duplicated (invoice_no, stock_code) pairs
üìã Customers and their associated countries:
    customer_id                 countries
0         12370         [austria, cyprus]
1         12394        [belgium, denmark]
2         12413           [france, spain]
3         12417          [belgium, spain]
4         12422  [australia, switzerland]
5         12423        [belgium, denmark]
6         12429        [austria, denmark]
7         12431      [australia, belgium]
8         12449        [belgium, denmark]
9         12455           [cyprus, spain]
10        12457     [cyprus, switzerland]
11        12652         [france, germany]
üìä Country counts for each conflicting customer_id:
    customer_id      country  count
1         12370       cyprus    158
0         12370      austria     39
2         12394      belgium     20
3         12394      denmark      5
4         12413       france     36
5         12413        spain     12
6         12417      belgium    318
7         12417        spain     32
9         12422  switzerland    105
8         12422    australia     57
10        12423      belgium    143
11        12423      denmark     12
13        12429      denmark    130
12        12429      austria     20
14        12431    australia    247
15        12431      belgium    138
16        12449      belgium    187
17        12449      denmark      9
18        12455       cyprus    176
19        12455        spain     44
21        12457  switzerland     78
20        12457       cyprus      2
22        12652       france     47
23        12652      germany      3
üìã Summary of most frequent vs. latest country per customer_id:
    customer_id most_frequent_country latest_country
0         12370                cyprus         cyprus
1         12394               belgium        denmark
2         12413                france         france
3         12417               belgium        belgium
4         12422           switzerland      australia
5         12423               belgium        belgium
6         12429               denmark        denmark
7         12431             australia      australia
8         12449               belgium        belgium
9         12455                cyprus          spain
10        12457           switzerland         cyprus
11        12652                france         france
‚úÖ Country assignment conflicts remaining: 0
‚úÖ All stock codes map to a unique description.
‚ùó Conflicting invoice_no entries: 64
            invoice_date  customer_id
invoice_no
492807                 2            1
499967                 2            1
500353                 2            1
501618                 2            1
501871                 2            1
503609                 2            1
505791                 2            1
509851                 2            1
510644                 2            1
513813                 2            1

üßæ Sample of conflicting invoice rows:
      invoice_no stock_code                         description  quantity        invoice_date  unit_price  customer_id         country  line_revenue
41630     492807     85131A   beaded pearl heart white on stick         1 2009-12-20 12:28:00        1.25        17211  united kingdom          1.25
41659     492807     79323W                 white cherry lights         3 2009-12-20 12:29:00        6.75        17211  united kingdom         20.25
41658     492807     85123A  white hanging heart t-light holder         8 2009-12-20 12:29:00        2.95        17211  united kingdom         23.60
41657     492807      21813        garland with stars and bells         6 2009-12-20 12:29:00        4.95        17211  united kingdom         29.70
41656     492807      21812       garland with hearts and bells         6 2009-12-20 12:29:00        4.95        17211  united kingdom         29.70
41655     492807      84950      assorted colour t-light holder        12 2009-12-20 12:29:00        0.85        17211  united kingdom         10.20
41654     492807      22112          chocolate hot water bottle         3 2009-12-20 12:28:00        4.95        17211  united kingdom         14.85
41653     492807     84508B                stripes design teddy         2 2009-12-20 12:28:00        2.55        17211  united kingdom          5.10
41651     492807     84507B          stripes design monkey doll         3 2009-12-20 12:28:00        2.55        17211  united kingdom          7.65
41650     492807     84507C     blue circles design monkey doll         3 2009-12-20 12:28:00        2.55        17211  united kingdom          7.65
41649     492807     84508C           blue circles design teddy         2 2009-12-20 12:28:00        2.55        17211  united kingdom          5.10
41648     492807      21497           fancy fonts birthday wrap        25 2009-12-20 12:28:00        0.42        17211  united kingdom         10.50
41647     492807      22296           heart ivory trellis large         6 2009-12-20 12:28:00        1.65        17211  united kingdom          9.90
41646     492807      22294          heart filigree dove  small         6 2009-12-20 12:28:00        1.25        17211  united kingdom          7.50
41645     492807      84975                 heart shaped mirror         6 2009-12-20 12:28:00        1.69        17211  united kingdom         10.14
41652     492807     84327A          pink jumper larry the lamb         2 2009-12-20 12:28:00        2.10        17211  united kingdom          4.20
41643     492807      21485    retrospot heart hot water bottle         2 2009-12-20 12:28:00        4.95        17211  united kingdom          9.90
41644     492807      22030              swallows greeting card        24 2009-12-20 12:28:00        0.42        17211  united kingdom         10.08
41631     492807     85129A     white pearl beaded heart, small         2 2009-12-20 12:28:00        1.25        17211  united kingdom          2.50
41632     492807     85129D     beaded crystal heart pink small         4 2009-12-20 12:28:00        1.25        17211  united kingdom          5.00

‚ùó Invoices with multiple customer_id entries: 0
‚úÖ Clean invoice metadata shape: (36607, 3)
  invoice_no        invoice_date  customer_id
0     489434 2009-12-01 07:45:00        13085
1     489435 2009-12-01 07:46:00        13085
2     489436 2009-12-01 09:06:00        13078
3     489437 2009-12-01 09:08:00        15362
4     489438 2009-12-01 09:24:00        18102
‚úÖ Remaining invoice_no conflicts after fix: 0
üéâ All invoice_no values are now consistent for customer_id and invoice_date.
‚ùó Duplicate (invoice_no, stock_code) pairs: 10147

üßæ Table: Invoice/Product pairs with multiple rows
    invoice_no stock_code  count
272     489488      22125      2
338     489517      21790      2
339     489517      21791      2
605     489529      22030      2
608     489529      22086      2
661     489533      22118      2
685     489536      20956      2
710     489536      21578      2
722     489536      21791      3
731     489536      21934      2

üìÑ Sample of duplicate invoice line items:
   invoice_no stock_code                         description  quantity  unit_price         country  line_revenue        invoice_date  customer_id
0      489488      22125         union jack hot water bottle         2        5.95  united kingdom         11.90 2009-12-01 10:59:00        17238
1      489488      22125         union jack hot water bottle         1        5.95  united kingdom          5.95 2009-12-01 10:59:00        17238
3      489517      21790                  vintage snap cards         4        0.85  united kingdom          3.40 2009-12-01 11:34:00        16329
5      489517      21790                  vintage snap cards         1        0.85  united kingdom          0.85 2009-12-01 11:34:00        16329
2      489517      21791   vintage heads and tails card game         6        1.25  united kingdom          7.50 2009-12-01 11:34:00        16329
4      489517      21791   vintage heads and tails card game         1        1.25  united kingdom          1.25 2009-12-01 11:34:00        16329
6      489529      22030              swallows greeting card         1        0.42  united kingdom          0.42 2009-12-01 11:51:00        17984
8      489529      22030              swallows greeting card        12        0.42  united kingdom          5.04 2009-12-01 11:51:00        17984

---

## üìä Step 3: Test `2_eda_online_retail_ii.py`

This step executes the clean version of the **Exploratory Data Analysis (EDA)** script.  
It loads the cleaned dataset and generates:

- Descriptive statistics
- Visualizations of monthly trends, product performance, and customer behavior
- CSV and plot exports into `/eda_outputs/`

The script is located at:

```
scripts/python/clean/2_eda_online_retail_ii.py
```

> üìÅ Output files will be saved to `eda_outputs/plots/` and `eda_outputs/data/`.

---

In [3]:
# ‚úÖ Run 2_eda_online_retail_ii.py
script_path = os.path.join(project_base_path, "scripts/python/clean/2_eda_online_retail_ii.py")
!python "$script_path"

‚úÖ Local environment detected. Base path set to: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql
‚úÖ Cleaned flat dataset loaded successfully.
cleaned_full_df shape: (766226, 9)
üßæ Inspecting: cleaned_online_retail_II.csv
============================================================
üîπ First 5 Rows:
   invoice_no stock_code                         description  unit_price  quantity  line_revenue        invoice_date  customer_id         country
0      489434      21232      strawberry ceramic trinket box        1.25        24          30.0 2009-12-01 07:45:00        13085  united kingdom
1      489434      21523  doormat fancy font home sweet home        5.95        10          59.5 2009-12-01 07:45:00        13085  united kingdom
2      489434      21871                 save the planet mug        1.25        24          30.0 2009-12-01 07:45:00        13085  united kingdom
3      489434      22041         record frame 7" single size        2.10        48         100.8 2009-12-01 07:45:00        13085  united kingdom
4      489434      22064           pink doughnut trinket pot        1.65        24          39.6 2009-12-01 07:45:00        13085  united kingdom

üîπ Last 5 Rows:
        invoice_no stock_code                      description  unit_price  quantity  line_revenue        invoice_date  customer_id country
766221      581587      22730       alarm clock bakelike ivory        3.75         4          15.0 2011-12-09 12:50:00        12680  france
766222      581587      22899      children's apron dolly girl        2.10         6          12.6 2011-12-09 12:50:00        12680  france
766223      581587      23254     childrens cutlery dolly girl        4.15         4          16.6 2011-12-09 12:50:00        12680  france
766224      581587      23255  childrens cutlery circus parade        4.15         4          16.6 2011-12-09 12:50:00        12680  france
766225      581587      23256       childrens cutlery spaceboy        4.15         4          16.6 2011-12-09 12:50:00        12680  france

üîπ Shape: 766226 rows √ó 9 columns

üîπ Column Names:
['invoice_no', 'stock_code', 'description', 'unit_price', 'quantity', 'line_revenue', 'invoice_date', 'customer_id', 'country']

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766226 entries, 0 to 766225
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    766226 non-null  int64
 1   stock_code    766226 non-null  object
 2   description   766226 non-null  object
 3   unit_price    766226 non-null  float64
 4   quantity      766226 non-null  int64
 5   line_revenue  766226 non-null  float64
 6   invoice_date  766226 non-null  datetime64[ns]
 7   customer_id   766226 non-null  int64
 8   country       766226 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 52.6+ MB

üî∏ Missing Values (per column):
‚úÖ No missing values.
============================================================

‚úÖ Variable classification completed:

üìÑ Dataset: cleaned_online_retail_II
  Identifier Columns:
    ‚Ä¢ invoice_no
    ‚Ä¢ stock_code
    ‚Ä¢ customer_id
  Categorical Columns:
    ‚Ä¢ description
    ‚Ä¢ country
  Quantitative Columns:
    ‚Ä¢ quantity
    ‚Ä¢ unit_price
    ‚Ä¢ line_revenue
  Datetime Columns:
    ‚Ä¢ invoice_date

üìä Summary Statistics for Quantitative Columns:

            quantity     unit_price   line_revenue
count  766226.000000  766226.000000  766226.000000
mean       13.701974       2.947758      22.277422
std       147.329447       4.349302     227.462120
min         1.000000       0.001000       0.001000
25%         2.000000       1.250000       5.000000
50%         6.000000       1.950000      12.500000
75%        12.000000       3.750000      19.800000
max     80995.000000     649.500000  168469.600000

üîç Number of rows with non-positive values:
  ‚Ä¢ quantity: 0
  ‚Ä¢ unit_price: 0
  ‚Ä¢ line_revenue: 0

üìã Frequency Table for: quantity
==================================================
quantity
(-79.994, 5400.6]     766202
(5400.6, 10800.2]         16
(10800.2, 16199.8]         5
(16199.8, 21599.4]         1
(21599.4, 26999.0]         0
(26999.0, 32398.6]         0
(32398.6, 37798.2]         0
(37798.2, 43197.8]         0
(43197.8, 48597.4]         0
(48597.4, 53997.0]         0
(53997.0, 59396.6]         0
(59396.6, 64796.2]         0
(64796.2, 70195.8]         0
(70195.8, 75595.4]         1
(75595.4, 80995.0]         1
Name: count, dtype: int64

üìã Frequency Table for: log1p(quantity)
==================================================
quantity
(0.683, 1.4]        297044
(1.4, 2.108]        158804
(2.108, 2.815]      184328
(2.815, 3.522]       79855
(3.522, 4.229]       25290
(4.229, 4.937]       13059
(4.937, 5.644]        5000
(5.644, 6.351]        1966
(6.351, 7.059]         631
(7.059, 7.766]         143
(7.766, 8.473]          69
(8.473, 9.18]           25
(9.18, 9.888]           10
(9.888, 10.595]          0
(10.595, 11.302]         2
Name: count, dtype: int64
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/01_quantity_distribution.png
Figure(1400x500)

üìã Frequency Table for: unit_price
==================================================
unit_price
(-0.648, 43.301]      765824
(43.301, 86.601]         222
(86.601, 129.901]         79
(129.901, 173.201]        47
(173.201, 216.501]        11
(216.501, 259.801]         0
(259.801, 303.101]        40
(303.101, 346.4]           0
(346.4, 389.7]             1
(389.7, 433.0]             0
(433.0, 476.3]             0
(476.3, 519.6]             0
(519.6, 562.9]             0
(562.9, 606.2]             0
(606.2, 649.5]             2
Name: count, dtype: int64

üìã Frequency Table for: log1p(unit_price)
==================================================
unit_price
(-0.00548, 0.433]     65709
(0.433, 0.865]       200889
(0.865, 1.296]       224221
(1.296, 1.728]       134777
(1.728, 2.16]         78662
(2.16, 2.592]         45394
(2.592, 3.023]        14758
(3.023, 3.455]          966
(3.455, 3.887]          501
(3.887, 4.319]           86
(4.319, 4.751]           94
(4.751, 5.182]          116
(5.182, 5.614]           10
(5.614, 6.046]           41
(6.046, 6.478]            2
Name: count, dtype: int64
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/02_unit_price_distribution.png
Figure(1400x500)

üìã Frequency Table for: line_revenue
==================================================
line_revenue
(-168.469, 11231.308]       766222
(11231.308, 22462.614]           1
(22462.614, 33693.921]           0
(33693.921, 44925.227]           1
(44925.227, 56156.534]           0
(56156.534, 67387.841]           0
(67387.841, 78619.147]           1
(78619.147, 89850.454]           0
(89850.454, 101081.76]           0
(101081.76, 112313.067]          0
(112313.067, 123544.374]         0
(123544.374, 134775.68]          0
(134775.68, 146006.987]          0
(146006.987, 157238.293]         0
(157238.293, 168469.6]           1
Name: count, dtype: int64

üìã Frequency Table for: log1p(line_revenue)
==================================================
line_revenue
(-0.011, 0.803]      22026
(0.803, 1.605]      133511
(1.605, 2.408]      173553
(2.408, 3.21]       300128
(3.21, 4.012]        88671
(4.012, 4.814]       31220
(4.814, 5.617]       12446
(5.617, 6.419]        3439
(6.419, 7.221]         895
(7.221, 8.023]         282
(8.023, 8.826]          49
(8.826, 9.628]           2
(9.628, 10.43]           1
(10.43, 11.232]          1
(11.232, 12.035]         2
Name: count, dtype: int64
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/03_line_revenue_distribution.png
Figure(1400x500)
‚úÖ Exported summary: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/01_monthly_revenue_summary.csv
   invoice_month_str  monthly_revenue  monthly_invoices  avg_revenue_per_invoice
0            2009-12       678029.570              1502               451.417823
1            2010-01       533802.982               963               554.312546
2            2010-02       497937.576              1093               455.569603
3            2010-03       665973.671              1509               441.334441
4            2010-04       585149.932              1316               444.642805
5            2010-05       592734.130              1365               434.237458
6            2010-06       629540.450              1482               424.791127
7            2010-07       581487.960              1362               426.936828
8            2010-08       594561.170              1276               465.957030
9            2010-09       805544.811              1659               485.560465
10           2010-10      1011571.500              2108               479.872628
11           2010-11      1155978.392              2570               449.797040
12           2010-12       565199.560              1394               405.451621
13           2011-01       562682.910               983               572.413947
14           2011-02       442293.590               992               445.860474
15           2011-03       583143.850              1312               444.469398
16           2011-04       454440.881              1139               398.982336
17           2011-05       659242.490              1544               426.970525
18           2011-06       653264.920              1390               469.974763
19           2011-07       591603.791              1321               447.845413
20           2011-08       635514.380              1267               501.589882
21           2011-09       938752.631              1739               539.823250
22           2011-10      1002326.560              1903               526.708650
23           2011-11      1136534.000              2642               430.179410
24         2011-12 *       512228.080               776               660.087732

üìù Note: Months marked with * are partial months.
- 2011-12: Data available only up to December 9th.

‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/04_monthly_revenue_trend.png
Figure(1400x600)
‚úÖ Exported top products summary: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/02_top_products_by_revenue.csv
     stock_code                         description  total_revenue  total_quantity  avg_unit_price
1609      22423            regency cakestand 3 tier      277656.25           24124       12.460172
4080     85123A  white hanging heart t-light holder      247203.36           91814        2.868706
2726      23843         paper craft , little birdie      168469.60           80995        2.080000
4058     85099B             jumbo bag red retrospot      167920.64           93436        1.960258
3819      84879       assorted colour bird ornament      124351.86           78234        1.675943
3059      47566                       party bunting      103283.38           23460        4.772940
2324      23166      medium ceramic top storage jar       81416.73           77916        1.219846
1298      22086      paper chain kit 50's christmas       76598.18           28380        2.918800
3321      79321                       chilli lights       69084.30           14843        5.146464
1578      22386             jumbo bag pink polkadot       67769.76           37338        1.969078
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/05_top_products_revenue.png
Figure(1200x600)
‚úÖ Exported top invoice summary: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/03_top_invoices_by_value.csv
       invoice_no  total_invoice_revenue  ...  customer_id        invoice_date
36574      581483              168469.60  ...        16446 2011-12-09 09:15:00
20108      541431               77183.60  ...        12346 2011-01-18 10:01:00
1594       493819               44051.60  ...        14156 2010-01-07 12:34:00
26084      556444               38970.00  ...        15098 2011-06-10 15:28:00
13241      524181               33167.80  ...        17450 2010-09-27 16:59:00
30539      567423               31698.16  ...        17450 2011-09-20 11:05:00
14424      526934               26007.08  ...        18102 2010-10-14 09:46:00
9890       515944               22863.36  ...        18102 2010-07-15 15:29:00
26270      556917               22775.93  ...        12415 2011-06-15 13:37:00
32558      572209               22206.00  ...        18102 2011-10-21 12:08:00

[10 rows x 5 columns]
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/06_top_invoices_by_value.png
Figure(1200x600)
‚úÖ Exported revenue by country: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/04_revenue_by_country.csv

üìã Top 10 Countries by Revenue (Including UK):
          country  total_revenue  num_invoices  avg_invoice_value
0  united kingdom   1.428973e+07         33374         428.169550
1            eire   5.866261e+05           528        1111.034242
2     netherlands   5.497734e+05           216        2545.247269
3         germany   3.831920e+05           752         509.563765
4          france   3.096856e+05           592         523.117500
5       australia   1.684528e+05            87        1936.238966
6           spain   9.639908e+04           137         703.642920
7     switzerland   9.554329e+04            90        1061.592111
8          sweden   8.604514e+04            98         878.011633
9         denmark   6.613387e+04            40        1653.346750
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/07_country_revenue_bar.png
Figure(1200x600)
‚úÖ Exported revenue by country (excluding UK): /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/04_revenue_by_country_excl_uk.csv

üìã Top 10 Countries by Revenue (Excluding UK):
        country  total_revenue  num_invoices  avg_invoice_value
1          eire     586626.080           528        1111.034242
2   netherlands     549773.410           216        2545.247269
3       germany     383191.951           752         509.563765
4        france     309685.560           592         523.117500
5     australia     168452.790            87        1936.238966
6         spain      96399.080           137         703.642920
7   switzerland      95543.290            90        1061.592111
8        sweden      86045.140            98         878.011633
9       denmark      66133.870            40        1653.346750
10      belgium      56787.900           144         394.360417
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/07_country_revenue_bar_excl_uk.png
Figure(1200x600)
‚úÖ Exported: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/05_customer_behavior_by_country.csv

üìã Top 10 Countries by Avg Spend & Frequency:
          country  ...  avg_revenue_per_customer
0  united kingdom  ...               2678.989607
1            eire  ...             195542.026667
2     netherlands  ...              24989.700455
3         germany  ...               3615.018406
4          france  ...               3329.952258
5       australia  ...              12032.342143
6           spain  ...               2754.259429
7     switzerland  ...               4342.876818
8          sweden  ...               4528.691579
9         denmark  ...               7348.207778

[10 rows x 6 columns]
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/08_country_avg_behavior_scatter.png
Figure(1000x600)
‚úÖ Exported: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/06_one_time_vs_repeat_customers.csv
     customer_type  count    percent
0  Repeat Customer   4234  72.351333
1  Single Purchase   1618  27.648667
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/09_one_time_vs_repeat_customers.png
Figure(600x600)
‚úÖ Exported: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/07_avg_order_value_per_customer.csv

üìã Top 10 Customers by Avg Order Value:
   customer_id  total_spent  num_orders  avg_order_value
0        16446    168472.50           2     84236.250000
1        15749     44534.30           3     14844.766667
2        15098     39916.50           3     13305.500000
3        13687     11880.84           1     11880.840000
4        18052     10877.18           1     10877.180000
5        12590      9341.26           1      9341.260000
6        12357     17437.66           2      8718.830000
7        13902     34023.26           5      6804.652000
8        12346     77556.46          12      6463.038333
9        12415    144033.37          24      6001.390417

üìã Frequency Table for Avg Order Value:
avg_order_value
(-81.283, 5618.503]       5842
(5618.503, 11234.057]        6
(11234.057, 16849.61]        3
(16849.61, 22465.163]        0
(22465.163, 28080.717]       0
(28080.717, 33696.27]        0
(33696.27, 39311.823]        0
(39311.823, 44927.377]       0
(44927.377, 50542.93]        0
(50542.93, 56158.483]        0
(56158.483, 61774.037]       0
(61774.037, 67389.59]        0
(67389.59, 73005.143]        0
(73005.143, 78620.697]       0
(78620.697, 84236.25]        1
Name: count, dtype: int64

‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/10_avg_order_value_distribution.png
Figure(1600x600)
‚úÖ Exported: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/data/08_top_customers_by_total_spend.csv

üìã Top 10 Customers by Total Spend:
   customer_id  total_spent  num_orders  avg_order_value
0        18102    580987.04         145      4006.807172
1        14646    526751.52         145      3632.769103
2        14156    303069.88         144      2104.651944
3        14911    272252.79         373       729.900241
4        17450    244784.25          51      4799.691176
5        13694    195640.69         143      1368.116713
6        17511    172132.87          60      2868.881167
7        16446    168472.50           2     84236.250000
8        16684    147142.77          55      2675.323091
9        12415    144033.37          24      6001.390417
‚úÖ Saved plot: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/eda_outputs/plots/11_top_customers_by_total_spend.png
Figure(1000x600)

---

## üßÆ Step 4: Test `3_sql_analysis_sales_performance_online_retail_ii.py`

This step runs the clean version of the **SQL-based sales analysis** script, which:

- Loads cleaned data and answers business questions using SQL
- Joins and queries normalized relational tables
- Saves results and visualizations from SQL analysis

The script is located at:

```
scripts/python/clean/3_sql_analysis_sales_performance_online_retail_ii.py
```

> üìÅ SQL analysis outputs are saved to `sql_outputs/notebook_outputs/`.

---

In [4]:
# ‚úÖ Run 3_sql_analysis_sales_performance_online_retail_ii.py
script_path = os.path.join(project_base_path, "scripts/python/clean/3_sql_analysis_sales_performance_online_retail_ii.py")
!python "$script_path"

‚úÖ Local environment detected. Base path set to: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql
‚úÖ All cleaned data files found in: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/cleaned_data
‚úÖ All normalized relational tables loaded successfully.
üìÑ customers.csv ‚Üí (5852, 2)
üìÑ products.csv ‚Üí (4624, 3)
üìÑ invoices.csv ‚Üí (36607, 3)
üìÑ invoice_items.csv ‚Üí (766226, 5)
üìÑ Previewing: customers.csv
==================================================
üîπ Shape: 5852 rows √ó 2 columns
üîπ Column Names:
['customer_id', 'country']

üîπ First 5 rows:
   customer_id         country
0        13085  united kingdom
1        13078  united kingdom
2        15362  united kingdom
3        18102  united kingdom
4        12682          france

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  5852 non-null   int64
 1   country      5852 non-null   object
dtypes: int64(1), object(1)
memory usage: 91.6+ KB

==================================================

üìÑ Previewing: products.csv
==================================================
üîπ Shape: 4624 rows √ó 3 columns
üîπ Column Names:
['stock_code', 'description', 'unit_price']

üîπ First 5 rows:
  stock_code                 description  unit_price
0      10002  inflatable political globe        0.85
1      10080    groovy cactus inflatable        0.85
2      10109        bendy colour pencils        0.42
3      10120                doggy rubber        0.21
4     10123C        hearts wrapping tape        0.65

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4624 entries, 0 to 4623
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stock_code   4624 non-null   object
 1   description  4624 non-null   object
 2   unit_price   4624 non-null   float64
dtypes: float64(1), object(2)
memory usage: 108.5+ KB

==================================================

üìÑ Previewing: invoices.csv
==================================================
üîπ Shape: 36607 rows √ó 3 columns
üîπ Column Names:
['invoice_no', 'invoice_date', 'customer_id']

üîπ First 5 rows:
   invoice_no        invoice_date  customer_id
0      489434 2009-12-01 07:45:00        13085
1      489435 2009-12-01 07:46:00        13085
2      489436 2009-12-01 09:06:00        13078
3      489437 2009-12-01 09:08:00        15362
4      489438 2009-12-01 09:24:00        18102

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36607 entries, 0 to 36606
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   invoice_no    36607 non-null  int64
 1   invoice_date  36607 non-null  datetime64[ns]
 2   customer_id   36607 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 858.1 KB

==================================================

üìÑ Previewing: invoice_items.csv
==================================================
üîπ Shape: 766226 rows √ó 5 columns
üîπ Column Names:
['invoice_no', 'stock_code', 'quantity', 'unit_price', 'line_revenue']

üîπ First 5 rows:
   invoice_no stock_code  quantity  unit_price  line_revenue
0      489434      21232        24        1.25          30.0
1      489434      21523        10        5.95          59.5
2      489434      21871        24        1.25          30.0
3      489434      22041        48        2.10         100.8
4      489434      22064        24        1.65          39.6

üîπ Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766226 entries, 0 to 766225
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    766226 non-null  int64
 1   stock_code    766226 non-null  object
 2   quantity      766226 non-null  int64
 3   unit_price    766226 non-null  float64
 4   line_revenue  766226 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 29.2+ MB

==================================================

‚úÖ All tables successfully loaded into SQLite in-memory database.
<IPython.core.display.Image object>
üìä Monthly Revenue Trend:
   invoice_month  monthly_revenue  monthly_invoices  avg_revenue_per_invoice
0        2009-12        678029.57              1502                   451.42
1        2010-01        533802.98               963                   554.31
2        2010-02        497937.58              1093                   455.57
3        2010-03        665973.67              1509                   441.33
4        2010-04        585149.93              1316                   444.64
5        2010-05        592734.13              1365                   434.24
6        2010-06        629540.45              1482                   424.79
7        2010-07        581487.96              1362                   426.94
8        2010-08        594561.17              1276                   465.96
9        2010-09        805544.81              1659                   485.56
10       2010-10       1011571.50              2108                   479.87
11       2010-11       1155978.39              2570                   449.80
12       2010-12        565199.56              1394                   405.45
13       2011-01        562682.91               983                   572.41
14       2011-02        442293.59               992                   445.86
15       2011-03        583143.85              1312                   444.47
16       2011-04        454440.88              1139                   398.98
17       2011-05        659242.49              1544                   426.97
18       2011-06        653264.92              1390                   469.97
19       2011-07        591603.79              1321                   447.85
20       2011-08        635514.38              1267                   501.59
21       2011-09        938752.63              1739                   539.82
22       2011-10       1002326.56              1903                   526.71
23       2011-11       1136534.00              2642                   430.18
24       2011-12        512228.08               776                   660.09
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/01_monthly_revenue_trend.csv
üìä Top 10 Best-Selling Products by Revenue:
  stock_code  ... avg_unit_price
0      22423  ...          12.46
1     85123A  ...           2.87
2      23843  ...           2.08
3     85099B  ...           1.96
4      84879  ...           1.68
5      47566  ...           4.77
6      23166  ...           1.22
7      22086  ...           2.92
8      79321  ...           5.15
9      22386  ...           1.97

[10 rows x 5 columns]
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/02_top_products_by_revenue.csv
üìä Top 10 Highest-Value Invoices:
   invoice_no  total_invoice_revenue  ...  customer_id                invoice_date
0      581483              168469.60  ...        16446  2011-12-09 09:15:00.000000
1      541431               77183.60  ...        12346  2011-01-18 10:01:00.000000
2      493819               44051.60  ...        14156  2010-01-07 12:34:00.000000
3      556444               38970.00  ...        15098  2011-06-10 15:28:00.000000
4      524181               33167.80  ...        17450  2010-09-27 16:59:00.000000
5      567423               31698.16  ...        17450  2011-09-20 11:05:00.000000
6      526934               26007.08  ...        18102  2010-10-14 09:46:00.000000
7      515944               22863.36  ...        18102  2010-07-15 15:29:00.000000
8      556917               22775.93  ...        12415  2011-06-15 13:37:00.000000
9      572209               22206.00  ...        18102  2011-10-21 12:08:00.000000

[10 rows x 5 columns]
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/03_top_invoices_by_value.csv
üìã Top Countries by Total Revenue (Includes UK):
          country  total_revenue  num_invoices  avg_invoice_value
0  united kingdom    14289730.57         33374             428.17
1            eire      586626.08           528            1111.03
2     netherlands      549773.41           216            2545.25
3         germany      383191.95           752             509.56
4          france      309685.56           592             523.12
5       australia      168452.79            87            1936.24
6           spain       96399.08           137             703.64
7     switzerland       95543.29            90            1061.59
8          sweden       86045.14            98             878.01
9         denmark       66133.87            40            1653.35
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/04_revenue_by_country.csv
üìã Top Countries by Total Revenue (Excludes UK):
       country  total_revenue  num_invoices  avg_invoice_value
0         eire      586626.08           528            1111.03
1  netherlands      549773.41           216            2545.25
2      germany      383191.95           752             509.56
3       france      309685.56           592             523.12
4    australia      168452.79            87            1936.24
5        spain       96399.08           137             703.64
6  switzerland       95543.29            90            1061.59
7       sweden       86045.14            98             878.01
8      denmark       66133.87            40            1653.35
9      belgium       56787.90           144             394.36
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/04_revenue_by_country_excl_uk.csv
üìä Customer Behavior by Country (SQL Output):
          country  ...  avg_revenue_per_customer
0  united kingdom  ...                   2678.99
1            eire  ...                 195542.03
2     netherlands  ...                  24989.70
3         germany  ...                   3615.02
4          france  ...                   3329.95
5       australia  ...                  12032.34
6           spain  ...                   2754.26
7     switzerland  ...                   4342.88
8          sweden  ...                   4528.69
9         denmark  ...                   7348.21

[10 rows x 6 columns]
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/05_customer_behavior_by_country.csv
üìä One-Time vs. Repeat Customer Breakdown:
     customer_type  count  percent
0  Single Purchase   1618    27.65
1  Repeat Customer   4234    72.35
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/06_one_time_vs_repeat_customers.csv
üìã Top 10 Customers by Avg Order Value:
   customer_id  total_spent  num_orders  avg_order_value
0        16446    168472.50           2     84236.250000
1        15749     44534.30           3     14844.766667
2        15098     39916.50           3     13305.500000
3        13687     11880.84           1     11880.840000
4        18052     10877.18           1     10877.180000
5        12590      9341.26           1      9341.260000
6        12357     17437.66           2      8718.830000
7        13902     34023.26           5      6804.652000
8        12346     77556.46          12      6463.038333
9        12415    144033.37          24      6001.390417
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/07_avg_order_value_per_customer.csv
üìã Top 10 Customers by Total Spend:
   customer_id  total_spent  num_orders  avg_order_value
0        18102    580987.04         145          4006.81
1        14646    526751.52         145          3632.77
2        14156    303069.88         144          2104.65
3        14911    272252.79         373           729.90
4        17450    244784.25          51          4799.69
5        13694    195640.69         143          1368.12
6        17511    172132.87          60          2868.88
7        16446    168472.50           2         84236.25
8        16684    147142.77          55          2675.32
9        12415    144033.37          24          6001.39
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/08_top_customers_by_total_spend.csv
üóìÔ∏è Latest invoice date in dataset: 2011-12-09
üìã Sample Customers by Recency (Top & Bottom):
      customer_id                invoice_date  recency_days
0           12423  2011-12-09 10:10:00.000000             0
1           12433  2011-12-09 10:02:00.000000             0
2           12518  2011-12-09 10:13:00.000000             0
3           12526  2011-12-09 12:09:00.000000             0
4           12662  2011-12-09 11:59:00.000000             0
5847        15833  2009-12-02 11:59:00.000000           737
5848        17056  2009-12-01 12:55:00.000000           737
5849        17087  2009-12-02 10:41:00.000000           737
5850        17818  2009-12-02 11:34:00.000000           737
5851        17592  2009-12-01 10:49:00.000000           738
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/09_customer_recency.csv
Figure(1400x500)
üìã Sample Customers by Purchase Frequency (Top & Bottom):
   customer_id  num_orders  total_spent  avg_order_value
0        14911         373    272252.79           729.90
1        12748         322     49176.74           152.72
2        17841         211     68519.95           324.74
3        15311         207    114671.42           553.97
4        13089         203    113416.91           558.70
      customer_id  num_orders  total_spent  avg_order_value
5847        12366           1       500.24           500.24
5848        12365           1       320.69           320.69
5849        12354           1      1079.40          1079.40
5850        12351           1       300.93           300.93
5851        12350           1       294.40           294.40
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/10_customer_frequency.csv

üìã Frequency Table for Number of Orders:
(1.0, 8.440000000000001]                    4735
(8.440000000000001, 15.88]                   653
(15.88, 23.32]                               231
(23.32, 30.76]                                94
(30.76, 38.2]                                 56
(38.2, 45.64]                                 22
(45.64, 53.080000000000005]                   13
(53.080000000000005, 60.52]                   14
(60.52, 67.96000000000001]                     4
(67.96000000000001, 75.4]                      6
(75.4, 82.84]                                  2
(82.84, 90.28]                                 1
(90.28, 97.72]                                 1
(97.72, 105.16000000000001]                    1
(105.16000000000001, 112.60000000000001]       4
(112.60000000000001, 120.04]                   2
(120.04, 127.48]                               2
(127.48, 134.92000000000002]                   0
(134.92000000000002, 142.36]                   0
(142.36, 149.8]                                4
(149.8, 157.24]                                1
(157.24, 164.68]                               0
(164.68, 172.12]                               0
(172.12, 179.56]                               0
(179.56, 187.0]                                1
(187.0, 194.44]                                0
(194.44, 201.88000000000002]                   0
(201.88000000000002, 209.32000000000002]       2
(209.32000000000002, 216.76000000000002]       1
(216.76000000000002, 224.20000000000002]       0
(224.20000000000002, 231.64000000000001]       0
(231.64000000000001, 239.08]                   0
(239.08, 246.52]                               0
(246.52, 253.96]                               0
(253.96, 261.40000000000003]                   0
(261.40000000000003, 268.84000000000003]       0
(268.84000000000003, 276.28000000000003]       0
(276.28000000000003, 283.72]                   0
(283.72, 291.16]                               0
(291.16, 298.6]                                0
(298.6, 306.04]                                0
(306.04, 313.48]                               0
(313.48, 320.92]                               0
(320.92, 328.36]                               1
(328.36, 335.8]                                0
(335.8, 343.24]                                0
(343.24, 350.68]                               0
(350.68, 358.12]                               0
(358.12, 365.56]                               0
(365.56, 373.0]                                1
dtype: int64
Figure(1600x500)
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/11_customer_monetary_value.csv

üìã Sample Customers by Monetary Value (Top & Bottom):
   customer_id  total_spent  num_orders  avg_order_value
0        18102    580987.04         145          4006.81
1        14646    526751.52         145          3632.77
2        14156    303069.88         144          2104.65
3        14911    272252.79         373           729.90
4        17450    244784.25          51          4799.69
      customer_id  total_spent  num_orders  avg_order_value
5847        15913         6.30           1             6.30
5848        14792         6.20           1             6.20
5849        16738         3.75           1             3.75
5850        13788         3.75           1             3.75
5851        14095         2.95           1             2.95

üìã Frequency Table for Total Spend:
                          count
total_spent
(2.95, 19369.086]          5751
(19369.086, 38735.223]       58
(38735.223, 58101.359]       17
(58101.359, 77467.495]        6
(77467.495, 96833.632]        4
(96833.632, 116199.768]       4
(116199.768, 135565.904]      1
(135565.904, 154932.041]      2
(154932.041, 174298.177]      2
(174298.177, 193664.313]      0
(193664.313, 213030.45]       1
(213030.45, 232396.586]       0
(232396.586, 251762.722]      1
(251762.722, 271128.859]      0
(271128.859, 290494.995]      1
(290494.995, 309861.131]      1
(309861.131, 329227.268]      0
(329227.268, 348593.404]      0
(348593.404, 367959.54]       0
(367959.54, 387325.677]       0
(387325.677, 406691.813]      0
(406691.813, 426057.949]      0
(426057.949, 445424.086]      0
(445424.086, 464790.222]      0
(464790.222, 484156.358]      0
(484156.358, 503522.495]      0
(503522.495, 522888.631]      0
(522888.631, 542254.767]      1
(542254.767, 561620.904]      0
(561620.904, 580987.04]       1
Figure(1600x500)
‚úÖ Saved: /content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/sql_outputs/notebook_outputs/12_rfm_segmented_customers.csv

üìã Sample of RFM Score Table:

---

## üõ†Ô∏è Step 5 (Local Only): Test `4_mysql_real_env_setup_online_retail_ii.py`

> ‚ö†Ô∏è This step is intended **only for local environments** where a MySQL server is installed and running.

This script does the following:

- Loads credentials from `.env` in the `config/` folder
- Creates the `retail_sales` MySQL database with 4 tables
- Loads cleaned `.csv` files into the database

**This will not work in Google Colab.**  
Skip this step unless you're running this notebook locally (e.g., Jupyter on your machine).

The script is located at:

```
scripts/python/clean/4_mysql_real_env_setup_online_retail_ii.py
```

---

In [5]:
# ‚úÖ Run 4_mysql_real_env_setup_online_retail_ii.py (Local only)
script_path = os.path.join(project_base_path, "scripts/python/clean/4_mysql_real_env_setup_online_retail_ii.py")
!python "$script_path"

‚ùå Missing files:
 - /cleaned_data/customers.csv
 - /cleaned_data/products.csv
 - /cleaned_data/invoices.csv
 - /cleaned_data/invoice_items.csv
Traceback (most recent call last):
  File "/content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/scripts/python/clean/4_mysql_real_env_setup_online_retail_ii.py", line 59, in <module>
    import dotenv
ModuleNotFoundError: No module named 'dotenv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/drive/MyDrive/Colab Notebooks/Ironhack/Week 3/Week 3 - Day 4/project-2-eda-sql/retail-sales-segmentation-sql/scripts/python/clean/4_mysql_real_env_setup_online_retail_ii.py", line 61, in <module>
    get_ipython().system('pip install -q python-dotenv')
    ^^^^^^^^^^^
NameError: name 'get_ipython' is not defined